<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FraudFence Report</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <a class="navbar-brand" href="#">FraudFence Report</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portscan">Port Scan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ssl">SSL Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#headers">Headers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dns">DNS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#location">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#traceroute">Traceroute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#directory">Directory</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img src="fraudfence.png" alt="Example Image" class="img-fluid">
                <h1 class="mt-1">Full Report on: <a href="{{ url }}">{{ url }}</a></h1>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-7">
                {% if portscan_data %}
                <div class="table-container">
                    <h2 id="portscan">Port Scan Information</h2>
                    <table class="table table-bordered">
                        <tr>
                            <th style="text-align: center; width: 325px; font-weight: bold;">Port Number </th>
                            <td style="text-align: center; width: 325px; font-weight: bold;"> Port State</td>
                        </tr>
                        {% for header in portscan_headers %}
                        <tr>
                            <th class="portscan-header" style="text-align: center; width: 325px;">{{ header }}</th>
                            <td style="text-align: center; width: 325px;">{{ portscan_data[0][loop.index0].value}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if ssl_data %}
                <div class="table-container">
                    <h2 id="ssl">SSL Information</h2>
                    <table class="table table-bordered">
                        {% for header in ssl_headers %}
                            <tr>
                                <th>{{ header }}</th>
                                <td>{{ ssl_data[0][loop.index0].value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% if http_data %}
                <div class="table-container">
                    <h2 id="headers">Headers Information</h2>
                    <table class="table table-bordered">
                            {% for header in http_headers %}
                            <tr>
                                <th>{{ header }}</th>
                                <td>{{ http_data[0][loop.index0].value }}</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
                <div class="table-container">
                    <h2 id="dns">DNS Information</h2>
                    <table class="table table-bordered">
                            {% for header in dns_headers %}
                            <tr>
                                <th>{{ header }}</th>
                                <td>{{ dns_data[0][loop.index0].value }}</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
                <div class="table-container">
                    <h2 id="location">Server Location Information</h2>
                    <div class="map">
                        {{ map|safe }}
                    </div>
                </div>
                {% endif %}
                {% if tracer_data %}
                <div class="table-container">
                  <h2 id="traceroute">Traceroute Information</h2>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="text-align: center; width: 100px;">TTL</th>
                        <th style="text-align: center; width: 300px;">IP Address</th>
                        <th style="text-align: center; width: 300px;">Hostname</th>
                        <th style="text-align: center; width: 300px;">RTT (ms)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for tracer_tuple in tracer_data %}
                      <tr>
                            <td style="text-align: center; width: 100px;">{{ tracer_tuple[0]['value'] }}</td>
                            <td style="text-align: center; width: 300px;">{{ tracer_tuple[1]['value'] }}</td>
                            <td style="text-align: center; width: 300px;">{{ tracer_tuple[2]['value'] }}</td>
                            <td style="text-align: center; width: 300px;">{{ tracer_tuple[3]['value'] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endif %}
                {% if not ssl_data and not http_data and not dns_data %}
                <p>No data available</p>
                {% endif %}
                {% if directory_data %}
                <div class="table-container">
                    <h2 id="directory">Directory Buster</h2>
                    <table class="table table-bordered">
                            {% for header in directory_headers %}
                            <tr>
                                <th>{{ header }}</th>
                                <td style="width: 475px;">{{ directory_data[0][loop.index0].key }}</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
