/* Add some CSS styles to make the report look nicer */
body {
    background-color: #080808 !important;
    color: #ffffff !important;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    word-break: break-all;
}

th {
    background-color: #36454F;
    font-weight: bold;
}

.map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

img {
    max-width: 15%;
    display: block;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

/* Add CSS to make only the header for port scan normal font */
.portscan-header {
    font-weight: normal;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

/* Add CSS to change the color of the link to blue */
a {
    color: rgb(68, 154, 224);
}

.table-container {
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
  }

  table {
    display: block;
    margin: 0 auto;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
  }
  
  h2 {
    padding-top: 60px; /* add the height of navbar */
    margin-top: -60px; /* subtract the height of navbar */
  }

  .container {
    /* Add margin-top to the content so it doesn't overlap with the fixed navbar */
    margin-top: 60px; /* Adjust this value based on navbar height */
  }
